.main-slider {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	&__image {
		height: 100%;
		width: 100%;
		background-color: #000;
	}
	&__image img {
		width: 100%;
		height: 100%;
		min-height: 382px;
		object-fit: cover;
		opacity: 0.62;
	}
}

.slider-control {
	position: relative;
	width: 100%;
	// height: 37px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 30px;
	& .swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		background: #fff;
		opacity: 0.5;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}

	& .swiper-pagination-bullet-active {
		position: static;
		transform: none;
		margin-top: 0;
		display: flex;
		align-items: center;
		background: #cdcc42;
		opacity: 1;
	}

	& .slider-prev,
	.slider-next {
		width: 37px;
		height: auto;
		position: static;
		transform: none;
		margin-top: 0;
	}

	& .swiper-button-prev:after,
	& .swiper-button-next:after {
		content: "";
		width: 37px;
		height: 37px;
		opacity: 0.5;
		transition: all 0.3s ease;
	}

	& .swiper-button-prev:hover:after,
	& .swiper-button-next:hover:after,
	& .swiper-button-prev:active:after,
	& .swiper-button-next:active:after {
		opacity: 1;
	}

	& .swiper-button-prev:after {
		background-image: url(../img/arrow-prev-hover.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	& .swiper-button-next:after {
		background-image: url(../img/arrow-next-hover.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	& .swiper-button-next,
	& .swiper-container-rtl .swiper-button-prev {
		right: 15%;
		left: auto;
	}

	& .swiper-button-prev,
	& .swiper-container-rtl .swiper-button-next {
		left: 15%;
		right: auto;
	}

	& .slider-pagination:not(.swiper-pagination-lock) {
		display: flex;
		position: static;
	}
}

.top-section {
	min-height: 382px;
	position: relative;
	& .container {
		z-index: 2;
		position: relative;
	}
	&__wrap {
		padding-top: 40px;
		position: relative;
		min-height: 382px;
		display: flex;
		flex-direction: column;
	}

	&__h1 {
		position: relative;
		display: inline-block;
		&:before {
			position: absolute;
			content: "";
			top: -30px;
			right: -65px;
			width: 60px;
			height: 60px;
			background-image: url("../img/plus-page-title.svg");
			background-size: contain;
		}
	}

	&__block {
		margin-top: 44px;
		margin-bottom: 20px;
		flex-grow: 1;
	}

	&__subtitle {
		margin-top: 30px;
		font-family: "Roboto", sans-serif;
		font-size: 34px;
		line-height: 1;
	}
}

.container-section {
	&__wrap {
		display: grid;
		grid-template-columns: 20% 80%;
		padding-top: 80px;
	}

	&__anchors {
		display: flex;
		flex-direction: column;
		& .anchor {
			display: block;
			font-family: "OpenSans", sans-serif;
			color: #9b9b9b;
			line-height: 1.375;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 15px;
			}
			&.current {
				color: #14120b;
				font-size: 24px;
				line-height: 1.1;
				position: relative;
				&::before {
					position: absolute;
					content: "";
					top: 50%;
					left: -26px;
					transform: translate(-50%, -50%);
					background-image: url(../img/plus-about.svg);
					width: 18px;
					height: 18px;
				}
			}
		}
		& .anchor:not(.current) {
			overflow: hidden;
			background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #9b9b9b 50%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 200% 100%;
			background-position: 100%;
			transition: background-position 275ms ease;
			text-decoration: none; // text decorations are clipped in WebKit browsers
			&:hover {
				background-position: 0 100%;
			}
		}
	}
	&__block {
		border-left: 1px solid rgba(155, 155, 155, 0.5);
		padding-left: 25px;
	}
}

section:nth-child(2) {
	& .container-section__anchors {
		& .anchor {
			&:last-child {
				margin-bottom: 0;
			}
			&.current {
				&::before {
					top: 34%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

section:nth-child(3),
section:nth-child(4) {
	& .container-section__anchors {
		& .anchor {
			&.current {
				&::before {
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

section:last-child {
	& .container-section__anchors {
		& .anchor {
			&:last-child {
				margin-bottom: 0;
			}
			&.current {
				&::before {
					bottom: -9px;
					top: initial;
				}
			}
		}
	}
}

.history {
	&__tab-control {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		margin-bottom: 65px;
	}

	&__image {
		padding-right: 55px;
		padding-bottom: 15px;
	}

	&__tab-button:not(.active) span {
		position: relative;
		overflow: hidden;
		background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #9b9b9b 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
		text-decoration: none; // text decorations are clipped in WebKit browsers
		&:hover {
			background-position: 0 100%;
		}
	}

	&__tab-button {
		display: flex;
		align-items: flex-end;
		min-height: 50px;
		font-size: 24px;
		line-height: 1.1;
		color: #9b9b9b;
		margin-right: 40px;
		transition: all 0.3s ease;

		&:last-child {
			margin-right: 0;
		}
		&.active {
			color: #14120b;
			font-size: 42px;
			line-height: 1.1;
			position: relative;
			&::before {
				position: absolute;
				content: "";
				width: 55%;
				height: 1px;
				bottom: -5px;
				left: 0;
				border-bottom: 1px solid #cdcc42;
			}

			&::after {
				position: absolute;
				content: "";
				width: 30%;
				height: 1px;
				bottom: -17px;
				left: 0;
				border-bottom: 1px solid #cdcc42;
			}
		}
	}

	&__tab-item {
		display: none;
	}

	&__tab-item {
		display: block;
		opacity: 0;
		visibility: hidden;
		transform: translateX(300px);
		transition: all 0.3s ease;

		display: none;
		&.active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0px);
		}
	}

	& .tab-container {
		display: flex;
		p {
			font-size: 18px;
			line-height: 1.8;
			color: #000;
			margin-bottom: 38px;
		}
	}

	&__tab-content {
		margin-bottom: 60px;
	}
}

.team {
	background-color: #fafafa;
	&__image {
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		opacity: 0.5;
	}

	&__center-image {
		width: 50%;
		object-fit: cover;
	}

	&__image {
		height: 350px;
	}

	&__slide {
		background-color: rgba(0, 0, 0, 1);
		&.swiper-slide-next {
			position: relative;
			&:before {
				position: absolute;
				top: -62px;
				left: -7px;
				transform: translate(-50%, 0);
				content: "";
				background-image: url(../img/plus-team.svg);
				width: 110px;
				height: 111px;
				opacity: 0.2;
				// background-size: contain;
			}
		}
	}

	&__center-slide {
		display: flex;
		justify-content: center;
		position: absolute;
		max-width: 470px;
		bottom: -80px;
		left: 50%;
		transform: translate(-50%, 0);
		// bottom: 300px;
		z-index: 2;
	}

	&__title {
		position: absolute;
		// bottom: 352px;
		bottom: 2px;
		left: 0;
		content: "";
		width: calc(50% - 235px);
		background: #fff;
		color: #14120b;
		padding: 27px 5px 27px 5px;
		text-align: center;
		font-family: "OpenSans", sans-serif;
		font-size: 30px;
		line-height: 1;
		z-index: 1;
	}

	&__container {
		padding-top: 60px;
		margin-top: -60px;
	}

	&__txt-block {
		display: flex;
		color: #14120b;
		justify-content: space-between;
		// margin-top: -270px;
		margin-top: 30px;
	}

	&__column {
		width: 50%;
		&:first-child {
			position: relative;
			& p {
				font-size: 18px;
				line-height: 1.8;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&:before {
				position: absolute;
				top: 0;
				right: -50px;
				content: "";
				width: 2.5px;
				height: 80%;
				border-right: 2.5px solid rgba(20, 18, 11, 0.2);
			}
		}
		&:last-child {
			width: 40%;
			display: flex;
			flex-direction: column;
			font-size: 14px;
			line-height: 1;
			& p,
			& li {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__image-block {
		position: relative;
		margin-bottom: 110px;
	}

	&__item {
		margin-bottom: 160px;
	}

	&__item:last-child {
		margin-bottom: 60px;
	}

	&__info {
		margin-bottom: 40px;
	}

	&__title-info {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.1;
		margin-bottom: 20px;
		color: #cdcc42;
	}

	& .swiper-slide-active {
	}
}

@media (max-width: 1470px) {
	.team {
		&__title {
			@include adaptiv-font(30, 18);
		}
	}
}

.slider-center {
	background: #fff;
	&__slide {
		background: #fff;
		& img {
			width: 470px;
			height: 390px;
			object-fit: cover;
		}
	}
}

.reporting {
	& .container-section__content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		color: #14120b;
		grid-gap: 45px;
		padding-bottom: 80px;
	}

	&__item {
		display: block;
		border: 1px solid #9b9b9b;
		padding: 15px 15px 15px 77px;
		transition: all 0.3s ease;
		color: #000;
		&:hover .reporting__title:before,
		&:active .reporting__title:before {
			background-image: url("../img/icon-pdf-hover.svg");
		}

		&:hover .reporting__size:before,
		&:active .reporting__size:before {
			background-image: url("../img/icon-download-hover.svg");
		}

		&:hover {
			border: 1px solid #cdcc42;
			box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.11);
		}

		&:active .reporting__size {
			color: #cdcc42;
		}
	}

	&__title {
		margin-bottom: 10px;
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			left: -52px;
			content: "";
			width: 34px;
			height: 44px;
			background-image: url("../img/icon-pdf.svg");
			transition: all 0.3s ease;
		}
	}

	&__size {
		position: relative;
		display: inline-block;
		color: #9b9b9b;
		&:before {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50px;
			content: "";
			width: 15px;
			height: 14px;
			background-image: url("../img/icon-download.svg");
			transition: all 0.3s ease;
		}
	}
}

.our-offices {
	background-color: #fafafa;
	& .container-section__wrap {
		padding-bottom: 80px;
		& .container-section__content {
			position: relative;
		}
	}

	& .container-section__list {
		display: none;
	}

	& .container-section__group {
		position: relative;
	}

	&__info {
		position: absolute;
		background-color: #fafafa;
		padding: 15px 15px 15px 59px;
		top: 30px;
		left: 30px;
		width: 567px;
		min-height: 279px;
		color: #14120b;
		border: 1px solid #cdcc42;
		box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.35);
		&::before {
			position: absolute;
			content: "";
			background-image: url("../img/icon-marker.svg");
			width: 23px;
			height: 27px;
			top: 15px;
			left: 15px;
		}
		&.--right {
			left: initial;
			right: 30px;
		}
	}
	&__item {
		position: absolute;
		&.active {
			z-index: 3;

			& .our-offices__icon-marker {
				transform: scale(1.2);
			}
		}
	}

	&__icon-marker {
		cursor: pointer;
		background: url("../img/icon-marker.svg") no-repeat center / contain;
		width: 23px;
		height: 27px;
		transition: all 0.3s ease;
	}
	&__info {
		opacity: 0;
		visibility: hidden;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__addres {
		font-size: 24px;
		line-height: 1.1;
		position: relative;
		margin-bottom: 42px;
		&::before {
			position: absolute;
			content: "";
			width: 61px;
			height: 1px;
			bottom: -5px;
			left: 0;
			border-bottom: 1px solid #cdcc42;
		}

		&::after {
			position: absolute;
			content: "";
			width: 28px;
			height: 1px;
			bottom: -17px;
			left: 0;
			border-bottom: 1px solid #cdcc42;
		}
	}

	&__contacts {
		a {
			display: block;
			color: #14120b;
			font-size: 18px;
			line-height: 1;
			margin-bottom: 15px;
			position: relative;
			overflow: hidden;
			background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #14120b 50%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 200% 100%;
			background-position: 100%;
			transition: background-position 275ms ease;
			text-decoration: none; // text decorations are clipped in WebKit browsers
			&:hover,
			&:active {
				background-position: 0 100%;
			}
		}
	}

	&__socials {
		display: flex;
		& a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 25px;
			margin-right: 15px;
			transition: all 0.3s ease;
			&:last-child {
				margin-right: 0;
			}
			&:hover path {
				fill: #cdcc42;
			}
		}

		& .socials__tg {
			&:hover path {
				stroke: #cdcc42;
			}
		}
	}

	& .close-map {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		content: "";
		background: none;
		transition: all 0.3s ease;
		&:hover path {
			stroke: #cdcc42;
		}
	}

	& .image-map {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1300px) {
	.top-section__wrap {
		padding-top: 3%;
	}

	.top-section__block {
		margin-top: 4%;
	}

	.slider-control {
		margin-bottom: 3%;
	}

	.container-section__wrap {
		padding-top: 7%;
	}

	.reporting .container-section__content {
		padding-bottom: 7%;
	}

	.our-offices .container-section__wrap {
		padding-bottom: 7%;
	}

	.history__image {
		padding-right: 20px;
		max-height: 300px;
		max-width: 300px;
		object-fit: cover;
	}

	.history__tab-control {
		margin-bottom: 40px;
	}

	.history .tab-container p {
		margin-bottom: 2%;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.history__tab-content {
		margin-bottom: 5%;
	}

	.team__item {
		margin-bottom: 5%;
	}

	.team__column:first-child p {
		margin-bottom: 3%;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.team__title {
		padding: 3% 1% 3% 1%;
	}

	.team__title-info {
		margin-bottom: 4%;
	}

	.team__info {
		margin-bottom: 9%;
		padding-right: 5px;
	}

	.team__column:first-child:before {
		right: -8%;
	}

	.reporting__item {
		padding: 5% 5% 5% 30%;
	}

	.our-offices__addres {
		margin-bottom: 5%;
	}

	.our-offices__contacts a {
		margin-bottom: 2%;
	}
}

@media (max-width: 1170px) {
	.our-offices .container-section__list {
		display: flex;
		justify-content: center;
	}
	.container-section__list .our-offices__info {
		visibility: hidden;
		width: 100%;
		right: initial;
		left: initial;
		top: initial;
		min-height: initial;
	}

	.container-section__group {
		margin-bottom: 20px;
	}
	.container-section__list .our-offices__info.active {
		opacity: 1;
		visibility: visible;
		display: block;
		position: relative;
		width: 100%;
	}

	.close-map {
		display: none;
	}

	.team .container-section__anchors {
		margin-bottom: 40px;
	}

	.team__title {
		width: calc(50% - 200px);
		padding: 2% 1% 2% 1%;
	}

	.team__center-slide {
		bottom: -50px;
		max-width: 400px;
		& img {
			width: 400px;
			height: 330px;
		}
	}

	.team__image {
		height: 320px;
	}
}

@media (max-width: 1170px) {
	.title_h1 {
		@include adaptiv-font(80, 25);
	}

	.top-section__subtitle {
		@include adaptiv-font(34, 16);
	}

	.container-section__anchors .anchor.current {
		@include adaptiv-font(24, 18);
	}

	.container-section__anchors .anchor:not(.current) {
		@include adaptiv-font(16, 12);
	}

	.history__tab-button:not(.active) {
		@include adaptiv-font(24, 18);
	}

	.history__tab-button.active {
		@include adaptiv-font(42, 22);
	}

	.history .tab-container p {
		@include adaptiv-font(18, 15);
	}

	.team__column:first-child p {
		@include adaptiv-font(18, 15);
	}

	.team__title-info {
		@include adaptiv-font(24, 18);
	}

	.our-offices__addres {
		@include adaptiv-font(24, 18);
	}

	.our-offices__contacts a {
		@include adaptiv-font(18, 15);
	}
}

@media (max-width: 1024px) {
	.top-section__wrap,
	.top-section,
	.main-slider__image img {
		min-height: 300px;
	}

	.top-section__h1:before {
		right: -50px;
		width: 50px;
		height: 50px;
	}

	.container-section__wrap {
		grid-template-columns: 100%;
	}

	.team__column:first-child {
		width: 60%;
	}

	.team__column:last-child {
		width: 30%;
	}

	section:nth-child(2) .container-section__block {
		padding-left: 35px;
	}

	.container-section__block {
		padding-left: 0;
	}

	.container-section__block {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(155, 155, 155, 0.5);
		border-left: none;
		margin-bottom: 3%;
	}

	section:last-child .container-section__anchors .anchor:last-child {
		margin-bottom: 30px;
	}

	section:nth-child(2) .container-section__anchors .anchor.current::before,
	section:last-child .container-section__anchors .anchor.current::before {
		top: 50%;
	}

	.team__column {
		width: 0%;
	}
}

@media (max-width: 900px) {
	.top-section__h1:before {
		right: -40px;
		width: 40px;
		height: 40px;
		top: -20px;
	}

	.reporting .container-section__content {
		grid-template-columns: 1fr 1fr;
	}

	.team__image-block {
		margin-bottom: 70px;
	}

	.team__image {
		height: 300px;
	}

	.team__slide.swiper-slide-next:before {
		top: -45px;
		left: -5px;
		background-size: contain;
		width: 80px;
		height: 80px;
	}

	.team__title {
		width: calc(50% - 160px);
	}

	.team__center-slide img {
		width: 320px;
		height: 260px;
	}

	.team__image {
		height: 260px;
	}

	.team__center-slide {
		max-width: 320px;
	}
}

@media (max-width: 800px) {
	.history .tab-container {
		flex-direction: column;
	}

	.history__image {
		padding-right: 0;
		max-width: 100%;
		width: 100%;
		max-height: 450px;
	}

	.top-section__wrap,
	.top-section,
	.main-slider__image img {
		min-height: 250px;
	}

	.team__column:first-child {
		order: 2;
		width: 100%;
	}

	.team__txt-block {
		flex-direction: column;
	}

	.team__column:last-child {
		width: 100%;
		order: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.team__info:first-child {
		grid-row: 1 / 3;
	}

	.team__info:last-child {
		grid-column: 2 / 4;
	}

	.team__column:last-child p,
	.team__column:last-child li {
		margin-bottom: 15px;
	}

	.our-offices__icon-marker {
		width: 17px;
		height: 18px;
	}
}

@media (max-width: 700px) {
	.container-section__anchors .anchor.current::before {
		left: -15px;
	}

	section:nth-child(2) .container-section__block {
		padding-left: 25px;
	}

	.reporting .container-section__content {
		grid-gap: 25px;
	}

	.our-offices__info {
		min-height: 200px;
	}

	.our-offices__addres::after {
		bottom: -12px;
	}

	.team__title {
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 4;
		width: 50%;
		&:before {
			position: absolute;
			top: -17px;
			left: -2px;
			width: 30px;
			height: 30px;
			transform: translate(-50%, 0);
			content: "";
			background-image: url(../img/plus-team.svg);
			opacity: 1;
			background-size: contain;
		}
	}

	.team__container {
		display: none;
	}

	.team__center-slide {
		position: static;
		transform: none;
		max-width: initial;
	}

	.team__image-block {
		margin-bottom: 30px;
	}

	.team__center-slide img {
		width: 100%;
		height: 100%;
	}

	.team__slide.swiper-slide-next:before {
		top: -28px;
		left: -3px;
		width: 50px;
		height: 50px;
	}

	.our-offices__contacts a {
		margin-bottom: 5%;
	}

	.slider-control .swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin-right: 15px;
	}

	.top-section__subtitle {
		margin-top: 15px;
	}
}

@media (max-width: 600px) {
	.history__tab-button {
		margin-right: 20px;
	}

	.history__tab-button.active::after {
		bottom: -11px;
	}

	.top-section__wrap,
	.top-section,
	.main-slider__image img {
		min-height: 200px;
	}

	.top-section__h1:before {
		right: -30px;
		width: 30px;
		height: 30px;
		top: -15px;
	}

	.team__txt-block {
		margin-top: 5%;
	}

	.team__slide.swiper-slide-next:before {
		top: -17px;
		left: -2px;
		width: 30px;
		height: 30px;
	}

	.team__slide {
		background-color: none;
	}
}

@media (max-width: 500px) {
	.team__center-image,
	.team__image {
		height: 250px;
	}

	.team__slide.swiper-slide-next:before {
		display: none;
	}
}

@media (max-width: 550px) {
	.reporting .container-section__content {
		grid-template-columns: 1fr;
	}

	.reporting__item {
		padding: 5% 5% 5% 15%;
	}

	.container-section__block {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(4) .container-section__block {
		padding-left: 25px;
	}
}

@media (max-width: 450px) {
	.reporting__title:before {
		left: -12%;
		width: 24px;
		height: 31px;
		background-size: contain;
	}
}

@media (max-width: 400px) {
	.top-section__wrap,
	.top-section,
	.main-slider__image img {
		min-height: 150px;
	}

	.top-section__h1:before {
		right: -20px;
		width: 20px;
		height: 20px;
		top: -10px;
	}

	.team__column:last-child {
		grid-template-columns: 1fr;
	}

	.team__info:first-child {
		grid-row: initial;
	}

	.team__info:last-child {
		grid-column: initial;
	}

	.our-offices__info {
		padding: 15px 15px 15px 40px;
	}

	.our-offices__addres {
		margin-bottom: 25px;
	}

	.our-offices__info::before {
		left: 7px;
	}

	.team__title {
		width: 80%;
	}
}

@media (max-width: 320px) {
	.reporting__title:before {
		left: -15%;
	}
}
