.kso {
	&__wrap {
		padding: 80px 0 70px;
	}
	&__tab-control {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		margin-bottom: 70px;
	}

	// &__tab-button:not(.active) span {
	// 	position: relative;
	// 	overflow: hidden;
	// 	background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #9b9b9b 50%);
	// 	background-clip: text;
	// 	-webkit-background-clip: text;
	// 	-webkit-text-fill-color: transparent;
	// 	background-size: 200% 100%;
	// 	background-position: 100%;
	// 	transition: background-position 275ms ease;
	// 	text-decoration: none; // text decorations are clipped in WebKit browsers
	// 	&:hover {
	// 		background-position: 0 100%;
	// 	}
	// }

	&__tab-button {
		display: flex;
		align-items: flex-end;
		min-height: 50px;
		font-size: 24px;
		line-height: 1.1;
		color: #9b9b9b;
		margin-right: 40px;
		transition: all 0.3s ease;

		&:last-child {
			margin-right: 0;
		}
		&.active {
			color: #14120b;
			font-size: 42px;
			line-height: 140%;
			position: relative;
			&::before {
				position: absolute;
				content: "";
				width: 55%;
				height: 1px;
				bottom: -5px;
				left: 0;
				border-bottom: 1px solid #cdcc42;
			}

			&::after {
				position: absolute;
				content: "";
				width: 30%;
				height: 1px;
				bottom: -17px;
				left: 0;
				border-bottom: 1px solid #cdcc42;
			}
		}
	}

	&__tab-item {
		display: none;
	}

	&__tab-item {
		display: block;
		opacity: 0;
		visibility: hidden;
		transform: translateX(300px);
		transition: all 0.3s ease;

		display: none;
		&.active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0px);
		}
	}

	& .tab-container {
		display: flex;
		flex-direction: column;
	}
	&__tab-text {
		& p {
			font-size: 18px;
			line-height: 1.8;
			color: #000;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__block {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-family: "OpenSans", sans-serif;
		font-size: 42px;
		line-height: 140%;
		color: #9b9b9b;
		margin-right: 157px;
		position: relative;
		overflow: hidden;
		padding-bottom: 32px;
		& span {
			background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #9b9b9b 50%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 200% 100%;
			background-position: 100%;
			transition: background-position 275ms ease;
			text-decoration: none;
		}

		&:hover {
			& span {
				background-position: 0 100%;
			}
		}
		&.active {
			& span {
				color: #000000;
				position: relative;
				background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #14120b 50%);
				background-clip: text;
				-webkit-text-fill-color: transparent;
				background-size: 200% 100%;
				background-position: 100%;
			}

			&:before {
				position: absolute;
				content: "";
				bottom: 12px;
				left: 0;
				width: 109px;
				height: 1px;
				border-bottom: 1px solid #cdcc42;
			}
			&:after {
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				width: 50px;
				height: 1px;
				border-bottom: 1px solid #cdcc42;
			}
		}
	}

	&__tab-image {
		margin-bottom: 65px;
		position: relative;
		& img {
			width: 100%;
			object-fit: cover;
		}
		&:before {
			position: absolute;
			content: "";
			background-image: url(../img/image-plus1.svg);
			background-repeat: no-repeat;
			background-size: contain;
			bottom: -45px;
			left: 12px;
			width: 110px;
			height: 110px;
		}
	}

	&__tab-text {
		width: 66%;
		padding-right: 50px;
	}
	&__text-image {
		width: 34%;
		& img {
			width: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 1400px) {
	.kso {
		&__wrap {
			padding: 6% 0 5%;
		}
		&__tab-control {
			margin-bottom: 5%;
		}
		&__title {
			margin-right: 8%;
			padding-bottom: 2%;
		}
		&__tab-image {
			margin-bottom: 4%;
		}
		&__tab-text {
			padding-right: 3%;
		}
		&__tab-text p {
			margin-bottom: 1%;
		}
		&__tab-content {
			margin-bottom: 5%;
		}
	}
}

@media (max-width: 1170px) {
	.kso {
		&__tab-button:not(.active) {
			@include adaptiv-font(42, 22);
		}
		&__tab-button.active {
			@include adaptiv-font(42, 22);
		}
		&__tab-text p {
			@include adaptiv-font(18, 15);
		}
		&__title {
			@include adaptiv-font(42, 22);
		}

		&__tab-image:before {
			bottom: -33px;
			width: 80px;
			height: 80px;
		}
	}
}

@media (max-width: 800px) {
	.kso {
		& .tab-container {
			flex-direction: column;
		}

		&__image {
			padding-right: 0;
			max-width: 100%;
			width: 100%;
			max-height: 450px;
		}

		&__title {
			&.active:before {
				bottom: 6px;
			}
		}

		&__tab-image:before {
			bottom: -25px;
			width: 60px;
			height: 60px;
		}
	}
}

@media (max-width: 750px) {
	.kso {
		&__block {
			flex-direction: column;
		}
		&__tab-text,
		&__text-image {
			width: 100%;
		}

		&__tab-text {
			margin-bottom: 4%;
		}
	}
}

@media (max-width: 600px) {
	.kso {
		&__tab-button {
			margin-right: 20px;
		}
		&__tab-button.active::after {
			bottom: 0;
		}
		&__title {
			padding-bottom: 10px;
		}
		&__tab-image:before {
			bottom: -16px;
			width: 40px;
			height: 40px;
		}
	}
}

.program-feed {
	background-color: #fafafa;
	&__wrap {
		padding: 80px 0;
		display: flex;
		flex-direction: column;
	}
	&__title-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 58px;
		align-items: center;
	}
	&__list-item {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 57px;
	}
	&__item {
		transition: all 0.3s ease;
		&:hover .program-feed__date,
		&:active .program-feed__date {
			background-position: 0 100%;
		}
		&:hover .program-feed__description,
		&:active .program-feed__description {
			background-position: 0 100%;
		}
	}
	&__title {
		position: relative;
		padding-bottom: 22px;
		&::before {
			bottom: 12px;
		}

		&::after {
			bottom: 0px;
		}
	}
	&__all {
		font-family: "OpenSans", sans-serif;
		font-size: 16px;
		line-height: 1.5;
		position: relative;
		padding-right: 20px;
		overflow: hidden;
		background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #9b9b9b 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
		text-decoration: none;
		&:before {
			position: absolute;
			content: "";
			bottom: 50%;
			transform: translate(-50%, 50%);
			right: 3px;
			background-image: url(../img/image-plus-small.svg);
			height: 8px;
			width: 8px;
		}
		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			right: 20px;
			width: 100%;
			border-bottom: 1px solid rgba(155, 155, 155, 0.5);
			height: 1px;
			transition: all 275ms ease;
		}
		&:hover {
			background-position: 0 100%;
		}

		&:hover:after {
			border-color: #cdcc42;
			width: 0;
		}
	}
	&__info-block {
		position: relative;
		bottom: 78px;
		left: 0;
		margin-bottom: -78px;
	}
	&__image-block {
		& img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__item-title {
		display: flex;
		align-items: center;
		background: #fafafa;
		color: #14120b;
		font-size: 18px;
		font-weight: 800;
		line-height: 1.33;
		padding: 20px;
		width: 330px;
		max-width: 100%;
		border-bottom: 2px solid #14120b;
		margin-bottom: 40px;
	}
	&__date {
		font-family: "OpenSans", sans-serif;
		font-size: 16px;
		line-height: 22px;
		color: #9b9b9b;
		margin-bottom: 10px;
		background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #9b9b9b 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
		text-decoration: none; // text decorations are clipped in WebKit browsers
	}
	&__description {
		font-size: 18px;
		line-height: 1.44;
		color: #14120b;
		background: linear-gradient(to right, #cdcc42, #cdcc42 50%, #14120b 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
		text-decoration: none; // text decorations are clipped in WebKit browsers
	}
}

@media (max-width: 1400px) {
	.program-feed {
		&__wrap {
			padding: 6% 0;
		}
		&__title-block {
			margin-bottom: 4%;
		}
		&__title {
			padding-bottom: 1.5%;
		}
		&__item-title {
			margin-bottom: 8%;
		}
	}
}

@media (max-width: 1300px) {
	.program-feed {
		&__list-item {
			grid-gap: 30px;
		}
	}
}

@media (max-width: 1170px) {
	.program-feed {
		&__all,
		&__item-title,
		&__description {
			@include adaptiv-font(18, 14);
		}
		&__date {
			@include adaptiv-font(16, 12);
		}

		&__info-block {
			bottom: 60px;
			margin-bottom: -60px;
		}

		&__item-title {
			width: 80%;
		}
	}
}

@media (max-width: 1000px) {
	.program-feed {
		&__list-item {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (max-width: 800px) {
	.program-feed {
		&__title {
			padding-bottom: 15px;
			&:before {
				bottom: 9px;
			}
		}
	}
}

@media (max-width: 600px) {
	.program-feed {
		&__list-item {
			grid-template-columns: 1fr;
		}
		&__item-title {
			margin-bottom: 4%;
		}
		&__info-block {
			bottom: 45px;
			margin-bottom: -45px;
		}
	}
}

@media (max-width: 550px) {
	.program-feed {
		&__title-block {
			margin-bottom: 4%;
			flex-direction: column;
			align-items: flex-start;
		}
		&__all {
			margin-top: 15px;
		}
	}
}
