@font-face {
    font-weight: 400;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 400;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Italic.ttf);
	font-style: italic;
}

@font-face {
    font-weight: 600;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 600;
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-BoldItalic.ttf);
	font-style: italic;
}

@font-face {
    font-weight: 400;
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 400;
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
	font-style: italic;
}

@font-face {
    font-weight: 700;
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 700;
    font-family: "Roboto";
    src: url(../fonts/Roboto-BoldItalic.ttf);
	font-style: italic;
}

@font-face {
    font-weight: 400;
    font-family: "Arial";
    src: url(../fonts/ArialMT.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 400;
    font-family: "Arial";
    src: url(../fonts/Arial-ItalicMT.ttf);
	font-style: italic;
}

@font-face {
    font-weight: 600;
    font-family: "Arial";
    src: url(../fonts/Arial-BoldMT.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 600;
    font-family: "Arial";
    src: url(../fonts/Arial-BoldItalicMT.ttf);
	font-style: italic;
}

@font-face {
    font-weight: 400;
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-Regular.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 400;
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-Italic.ttf);
	font-style: italic;
}

@font-face {
    font-weight: 600;
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-Bold.ttf);
	font-style: normal;
}

@font-face {
    font-weight: 600;
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-BoldItalic.ttf);
	font-style: italic;
}