body {
	font-family: "SourceSansPro", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.375;
	color: #ffffff;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

html.lock {
    overflow: hidden;
  }

main {
	padding-top: 100px;
}

@media (max-width: 1170px) {
	main {
		padding-top: 75px;
	}
}

@media (max-width: 800px) {
	main {
		padding-top: 90px;
	}
}

@media (max-width: 400px) {
	main {
		padding-top: 100px;
	}
}

.breadcrumbs__list {
	display: flex;
	font-family: "OpenSans", serif;
	font-size: 16px;
}

.breadcrumbs__item {
		position: relative;
		&:first-child {
			margin-left: 0;
		}
		&::after {
			position: absolute;
			content: "/";
			top: 0;
			right: -14px;
			
		}
	& a {
		color: #fff;
		margin-right: 10px;
		margin-left: 10px;
		position: relative;

	}

	& span {
		margin-left: 10px;
		font-weight: 800;
	}

}

section ul li:not(.breadcrumbs__item) {
	position: relative;
	margin-left: 25px;
	&::before {
		position: absolute;
		top: 50%;
		left: -18px;
		transform: translate(-50%, -50%);
		content: "";
		background-image: url("../img/team-plus.svg");
		width: 14px;
		height: 13px;
	}
}

h1, .title_h1 {
	font-family: "OpenSans", serif;
	font-size: 80px;
	line-height: 1;
}

.color-link {
	position: relative;
	overflow: hidden;
	background: linear-gradient(to right, #CDCC42, #CDCC42 50%, #fff 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
	text-decoration: none; // text decorations are clipped in WebKit browsers
	&:hover {
	  background-position: 0 100%;
	}
}