body {
	font-family: "SourceSansPro", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.375;
	color: #ffffff;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

html.lock {
    overflow: hidden;
  }

