<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/mmenu.css" />
  <link rel="stylesheet" href="./css/lightgallery.min.css">
  <link rel="stylesheet" href="./css/style.css" />
  <title>Valartis Group</title>
</head>

<body>

  <nav id="menu" class="mm-menu_offcanvas">
    <ul>

    </ul>
  </nav>

  <div class="wrapper">

    <!-- HEADER -->

    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__row">
            <div class="header__burger ">
              <svg class="mob-menu__ham ham hamRotate ham8 mobile-menu" viewBox="0 0 100 100" height="50" width="50">
                <path class="line top"
                  d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                <path class="line middle" d="m 30,50 h 40" />
                <path class="line bottom"
                  d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
              </svg>
            </div>
            <div class="header__item">
              <div class="main-logo">
                <a href="#">
                  <img src="img/logo.svg" alt="" width="195">
                </a>
              </div>
            </div>
            <div class="header__item">
              @@include("_main-menu.html")
            </div>
            <div class="header__item">
              <div class="header__item-search js-search">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>
            <div class="header__item">
              <div class="header__item-lang">
                <a href="#" class="item-lang current">
                  ru
                </a>
                <a href="#" class="item-lang">
                  en
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="header__search-panel search-panel">
        <div class="container">
          <form action="#" class="search-panel__form">
            <div class="search-panel__wrap">
              <button type="submit" class="search-panel__button">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" fill="none">
                  <circle cx="9" cy="9" r="8.5" stroke="#14120B" />
                  <path d="M15.321 9.467a7 7 0 00-2.05-4.95M15.5 15l5 4.5" stroke="#14120B" stroke-linecap="round" />
                </svg>
              </button>
              <input type="text" placeholder="Поиск">
              <div class="search-panel__close"></div>
            </div>
          </form>

          <div class="search-panel__result">
            <div class="search-panel__result-list">
              <a href="#" class="search-panel__result-item">
                <span>Результат поиска 1</span>
              </a>

              <a href="#" class="search-panel__result-item">
                <span>Результат поиска 2</span>
              </a>
              <a href="#" class="search-panel__result-item">
                <span>Результат поиска 3</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- // HEADER -->