<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/style.css" />
  <title>Valartis Group</title>
</head>

<body>

  <div class="wrapper">
    
    <!-- HEADER -->

    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__row">
            <div class="header__item">
              <div class="main-logo">
                <a href="#">
                  <img src="img/logo.svg" alt="" width="195">
                </a>
              </div>
            </div>
            <div class="header__item">
              @@include("_main-menu.html") 
            </div>
            <div class="header__item">
              <div class="header__item-search">
                <form>
                  <input type="text" class="input" placeholder="Поиск">
                </form>
                  <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>
            <div class="header__item">
              <div class="header__item-lang">
                <a href="#" class="item-lang">
                  ru
                </a>
                <a href="#" class="item-lang">
                  en
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- // HEADER -->