<nav class="main-nav shift">
    <ul class="main-nav__list js-mobile-menu">

        <li class="main-nav__item hover-item have-child">
            <a href="#" class="main-nav__link">О компании</a>

            <ul class="main-nav__submenu show-menu">

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink hover-item">История</a>

                    <ul class="main-nav__submenu show-menu">

                        <li class="main-nav__subitem">
                            <a href="#" class="main-nav__sublink hover-item">Пункт 1</a>
                        </li>

                        <li class="main-nav__subitem">
                            <a href="#" class="main-nav__sublink hover-item">Пункт 2</a>
                        </li>

                        <li class="main-nav__subitem">
                            <a href="#" class="main-nav__sublink hover-item">Пункт 3</a>
                        </li>

                    </ul>

                </li>

                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink hover-item">О команде</a>
                </li>

                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink hover-item">Длинное название пункта</a>
                </li>

                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink hover-item">Отчетность</a>
                </li>
            </ul>

        </li>

        <li class="main-nav__item hover-item have-child hover-item">
            <a href="#" class="main-nav__link">Проекты</a>

            <ul class="main-nav__submenu show-menu">

                <li class="main-nav__subitem  hover-item">
                    <a href="#" class="main-nav__sublink hover-item">Женевский дом</a>

                    <ul class="main-nav__submenu show-menu">

                        <li class="main-nav__subitem">
                            <a href="#" class="main-nav__sublink hover-item">История</a>
                        </li>

                        <li class="main-nav__subitem">
                            <a href="#" class="main-nav__sublink hover-item">Планировка</a>
                        </li>

                        <li class="main-nav__subitem">
                            <a href="#" class="main-nav__sublink hover-item">Дополнительная информация</a>
                        </li>

                    </ul>

                </li>

                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink hover-item">Берлинский дом</a>
                </li>

                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink hover-item">Длинное название пункта</a>
                </li>

                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink hover-item">Еще один проект</a>
                </li>

                <li class="main-nav__subitem">
                    <a href="#" class="main-nav__sublink hover-item">Пункт 5</a>
                </li>
            </ul>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Лента событий</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">КСО</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Контакты</a>

        </li>

    </ul>
</nav>