    <div class="tenants__background-color">
      <div class="container">
        <div class="tenants-slider swiper-container">
            <div class="tenants__list swiper-wrapper">
              <a href="#" class="tenants__item swiper-slide">
                <img src="img/tenants-image-11.png" alt="">
              </a>
              <a href="#"  class="tenants__item swiper-slide">
                <img src="img/tenants-image-22.png" alt="">
              </a>
              <a href="#" class="tenants__item swiper-slide">
                <img src="img/tenants-image-33.png" alt="">
              </a>
              <a href="#"  class="tenants__item swiper-slide">
                <img src="img/tenants-image-44.png" alt="">
              </a>
              <a href="#"  class="tenants__item swiper-slide">
                <img src="img/tenants-image-55.png" alt="">
              </a>
              <a href="#"  class="tenants__item swiper-slide">
                <img src="img/tenants-image-66.png" alt="">
              </a>
              <a href="#"  class="tenants__item swiper-slide">
                <img src="img/tenants-image-66.png" alt="">
              </a>
              <a href="#"  class="tenants__item swiper-slide">
                <img src="img/tenants-image-66.png" alt="">
              </a>
            </div>
            <div class="tenants__navigation">
              <div class="tenants__prev swiper-button-prev"></div>
              <div class="tenants__next swiper-button-next"></div>
            </div>
        </div>
      </div>
    </div>