.footer {
    & .footer-1 {
        background: #fff;
        color: #14120B;
        &__wrap {
            padding: 52px 0 50px 0;
        }

    }
    &__logo-block {
        margin-right: 40px;
    }
    &__logo {
        margin-bottom: 30px;
    }
    &__copyright {
        color: #9B9B9B;
        font-size: 16px;
        line-height: 1.11;
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.25;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 24px;
        &:before {
            display: table-cell;
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            border-bottom: 1px solid #14120B;
            width: 53px;
            max-width: 100%;
            
        }
    }

    &__link {
        color: #14120B;
        display: block;
        font-size: 16px;
        line-height: 1.8125;
    }
    & .footer-2 {
        background: #14120B;
        &__wrap {
            padding: 24px 0 33px 0;
        }
        & .footer__link {
            color: #9B9B9B;
            position: relative;
            display: inline-block;
            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                border-bottom: 1px solid #9B9B9B;
                width: 100%;
                transition: all 275ms ease;
            }
        }
    }
    &__row {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    }
}

.footer__link {
	position: relative;
	overflow: hidden;
	background: linear-gradient(to right, #858515, #CDCC42 50%, #14120B 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
	text-decoration: none; // text decorations are clipped in WebKit browsers
	&:hover {
	  background-position: 0 100%;
	}
}

.footer .footer-2 .footer__link {
    position: relative;
	overflow: hidden;
	background: linear-gradient(to right, #858515, #CDCC42 50%, #9B9B9B 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
	text-decoration: none; // text decorations are clipped in WebKit browsers
	&:hover {
	  background-position: 0 100%;
	}
	&:active:before,
	&:hover:before {
		border-color: #CDCC42;
		width: 0;
	}
}