.header {
  background: #fff;
  height: 100px;
  &.scrolled {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 27px 0;
    position: relative;
    flex-wrap: wrap;
    &:first-child {
      & .header__item:first-child {
        position: relative;
      }
    
      & .header__item:first-child:after {
        position: absolute;
        content: "";
        bottom: -28px;
        left: 0;
        background: #fff;
        width: 100%;
        height: 29px;
      }
    }
  }

  & .header__item-lang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .item-lang {
      display: block;
      font-family: "Roboto", sans-serif;
      color: #14120B;
      font-size: 12px;
      line-height: 1.2;
      text-transform: uppercase;
      padding: 15px 13px 13px 13px;
      transition: all 0.3s ease;
      border: 1px solid transparent;
      border-radius: 50%;
      &:first-child {
        margin-right: 5px;
      }
      &:hover,
      &:active,
      &.current {
        border: 1px solid #E0E0E0;
      }
    }
  }
  &__item:nth-child(3) {
    flex-grow: 1;
    display: flex;
    justify-content: end;
  }
  &__item:nth-child(4) {
    position: relative;
    max-width: 250px;
    width: 100%;
    flex-shrink: 1;
    display: flex;
    align-items: center;
  }
  &__item-search {
    background: transparent;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 0px;
    height: 25px;

    line-height: 25px;
    padding-right: 20px;
    
    transition: all 0.5s ease;
  }
  
  & .input {
    border-bottom: 1px solid transparent;
    background: transparent;
    width: 0%;
    outline: none;
    font-family: "SourceSansPro", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #14120B;
    opacity: 0.2;
    transition: all 0.3s ease;
    position: relative;
  }
  
  &__item-search .fa {
    color: #14120B;
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/search.svg) no-repeat center;
    cursor: pointer;
  }

  &__item-search .fa-search {
    width: 40px;
    height: 40px;
  }
  
  &__item-search.active {
    max-width: 110px;
    background: #fff;
    flex-grow: 1;
    transition: all 0.5s ease;
    border-bottom: 1px solid #CDCC42;
    & .header__item:nth-child(3) {
        width: 100%;
    }

    & .fa {
      color: #14120B;
      position: absolute;
      right: -11px;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url(../img/search-active.svg) no-repeat center;
      cursor: pointer;
    }

    & .fa-search {
      width: 20px;
      height: 20px;
    }
  }
  
  .input.active {
    width: 98%;
    transition: all 0.5s 0.8s ease;
  }
  
  input::placeholder {
    color: #14120B;
    opacity: 0.5;
  }
}

.header__burger {
	display: none;
}

@media (max-width: 1170px) {
	.header__burger {
		display: initial;
	}

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	  }
	  .hamRotate.is-active {
		transform: rotate(45deg);
	  }
	  .hamRotate180.is-active {
		transform: rotate(180deg);
	  }
	  .line {
		fill: none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #14120B;
		stroke-width: 3.5;
		stroke-linecap: round;
	  }
	  
	  .ham8 .top {
		stroke-dasharray: 40 160;
	  }
	  .ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	  }
	  .ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	  }
	  .ham8.is-active .top {
		stroke-dashoffset: -64px;
	  }
	  .ham8.is-active .middle {
		//stroke-dashoffset: -20px;
		transform: rotate(90deg);
	  }
	  .ham8.is-active .bottom {
		stroke-dashoffset: -64px;
	  }
}

@media (max-width: 1170px) {
	.main-nav {
		display: none;
	}
}

@media (max-width: 1170px) {
	.header .header__item-lang .item-lang {
		@include adaptiv-font(12, 10);
	}

	.header .input {
		@include adaptiv-font(18, 12);
	}
}

@media (max-width: 1310px) {
  .header {
    height: 100px;
  }

  .header__row {
    padding: 22px 0 0 0;
  }

  // .header .main-nav {
  //   width: 100%;
  // }

  // .header .main-nav__list {
  //   justify-content: space-around;
  // }

  // .header__item:nth-child(4) {
  //   max-width: initial;
  //   width: 50%;
  // }

  // .header__item:nth-child(3) {
  //   order: 4;
  // }

  // .header__item-search {
  //   top: 0;
  //   left: 50%;
  //   transform: translate(-50%, 0);

  //   width: 100%;
  //   border-bottom: 1px solid #CDCC42;
  // }

  .header__item:nth-child(4) {
    max-width: 200px;
  }


}

@media (max-width: 1170px) {
  // .header {
  //   height: 100px;
  // }

  .header__item:nth-of-type(3) {
    display: none;
  }

  .header__item:nth-of-type(2),
  .header__item:nth-of-type(4) {
    margin-right: 20px;
  }

  .header__item:nth-of-type(4) {
    max-width: 50%;
  }

  .header__row {
    padding: 22px 0 22px 0;
    align-items: center;
  }

  .header .header__item-lang .item-lang {
    border: 1px solid #E0E0E0;
    border-radius: 50%;
  }

  .header__item-search .fa {
    color: #14120B;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/search-active.svg) no-repeat center;
    cursor: pointer;
  }

  .header__item-search .fa-search {
    width: 20px;
    height: 20px;
  }
  
  .header .input {
    width: 100%;
  }
  
  .header__item-search {
    max-width: 100%;
    background: #fff;
    flex-grow: 1;
    border-bottom: 1px solid #CDCC42;
}
}

@media (max-width: 800px) {
  .header__row {
    padding: 10px 0 15px 0;
  }
  .header {
    height: 130px;
  }

  .header__item:nth-of-type(4) {
    margin-right: 0;
    order: 5;
    max-width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .header .header__item-lang .item-lang {
    padding: 10px;
  }

  .header__item:nth-of-type(2) {
    margin-right: 0;
    width: 50%;
  }

  .header__item-search {
    height: 35px;
    line-height: 35px;
  }

  .header {
    height: 115px;
  }

  .header__item:nth-of-type(4) {
    margin-top: 5px;
  }
}

.mm-navbar,
.mm-panel {
  background: #fff;
}

.mm-navbar {
  border-bottom: 2px solid #CDCC42;
}

.mm-menu {
  .main-nav__link,
  .main-nav__sublink,
  .mm-navbar__title {
      font-family: "OpenSans", sans-serif;
      color: #14120B;
  }
}

.mm-listitem:after,
.mm-listitem {
  border-color: transparent;
}

// .mm-btn_prev:after,
// .mm-btn_prev:before {
//   background: #CDCC42;
// }